<template lang="">
    <div class="flex flex-col justify-center mx-auto w-1/2">
        <input id="foo" v-model="counter" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-700" type="text">
        <button id="mutate" class="my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="mutateNumbers(counter)">Mutate</button>
        <span id="result" class="text-red text-xl">{{result}}</span>
    </div>
</template>
<script>
export default {
    name: 'FooBarQix',
    data() {
        return {
            counter: '',
            result: ""
        }
    },
    methods: {
        mutateNumbers(counter) {
            let result = ""
            let numbersSplit = counter.toString().split('')
            // Check all divisible numbers to replace
            result += counter % 3 === 0 ? 'Foo' : ''
            result += counter % 5 === 0 ? 'Bar' : ''
            result += counter % 7 === 0 ? 'Qix' : ''

            // check all digits to replace
            result += numbersSplit.map(number => {
                return number === '3' ? 'Foo' : number === '5' ? 'Bar' : number === '7' ? 'Qix' : number === '0' ? '*' : result !== '' ? '' : number
            })

            this.result = result.replace(/,/g, '')
        }
    }
}
</script>