<template lang="">
    <div>
        <div class="w-full">
            <TakaList :takas="takas"></TakaList>
        </div>
    </div>
</template>
<script>
import TakaList from '../components/TakaList.vue';
import {  mapGetters } from 'vuex';

export default {
    components: {
        TakaList
    },
    computed: {
        ...mapGetters({
            takas: 'getAllTakas'
        })
    }
}
</script>
<style lang="">
    
</style>