<template lang="">
     <div>
        <div
        class="game-grid columns"
        @mousedown="isMouseDown = true"
        @mouseup="isMouseDown = false"
        @mouseleave="isMouseDown = false">
            <div
                v-for="(col, indexX) in gridList"
                :key="indexX"
                class="game-column">
                <Cell
                v-for="(isAlive, indexY) in col"
                :key="indexY"
                :status-obj="isAlive"
                :x-pos="indexX"
                :y-pos="indexY"
                :is-mouse-down="isMouseDown"
                @wasUpdated="updateCellCount"
                />
            </div>
        </div>
        <div class="flex justify-around">
            <span>Cells created: {{cellsCreated}}</span>
            <span> Cells alived: {{cellsAlive}}</span>
            <button @click="isRunning = !isRunning;restartInterval();"><span>{{isRuning === true ? 'STOP' : 'PLAY'}}</span></button>
            <button @click="isRunning = false;reset();">RESET</button>
        </div>
    </div>
</template>
<script>
import Cell from '../../components/GameOfLife/Cell.vue';

export default {
    name: "GameOfLife",
    components: {
        Cell
    },
    data() {
        return {
            width: 40,
            height: 20,
            isRuning: false,
            gridList: [],
            speed: 100,
            isMouseDown: false,
            cellsAlive: 0,
            cellsCreated: 0
        }
    },
    created() {
        this.cellCalc()
    },
    methods: {
        updateCellCount(bool) {
        if (bool) {
            this.cellsAlive++;
            this.cellsCreated++;
        } else {
            this.cellsAlive--;
        }
        },
        setCell(x,y,alive) {
            if (this.gridList[x][y].isAlive != alive) {
                this.gridList[x][y].isAlive = alive;
                this.updateCellCount(alive);
            }
        },
        // Restart Loop to update cell status
        restartInterval() {
            clearInterval(this.intervalID);
            if (this.isRunning) {
                this.intervalID = setInterval(
                this.update,
                50000 / this.speed,
                );
            }
        },
        // Create all grid with isAlive to false at each cell
        cellCalc() {
            for (let i = 0; i < this.width; i++) {
                this.gridList[i] = [];
                for (let j = 0; j < this.height; j++) {
                    this.gridList[i][j] = {isAlive: false};
                }
            }
            this.cellCount = this.width * this.height;
        },
        update() {
        let tempArr = [];
        for (let i = 0; i < this.width; i++) {
            tempArr[i] = [];
            for (let j = 0; j < this.height; j++) {
            let status = this.gridList[i][j].isAlive;
            let neighbours = this.getNeighbours(i, j);
            let result = false;
            // Check every case of cell reborn
            if (status && neighbours < 2) {
                result = false;
            }
            if ((status && neighbours == 2) || neighbours == 3) {
                result = true;
            }
            if (status && neighbours > 3) {
                result = false;
            }
            if (!status && neighbours == 3) {
                result = true;
            }
            tempArr[i][j] = result;
            }
        }
        for (let i = 0; i < this.width; i++) {
            for (let j = 0; j < this.height; j++) {
            this.setCell(i, j, tempArr[i][j]);
            }
        }
        },
        reset() {
            clearInterval(this.intervalID);
            this.gridList.forEach((col) => {
                col.forEach((cell) => {
                    cell.isAlive = false;
                });
            });
            this.cellsAlive = 0;
            this.cellsCreated = 0;
        },
        // function who return number of neighbours that deternminate the possibility of cell to reborn 
        getNeighbours(posX, posY) {
            let neighbours = 0;
            if (posX <= this.width && posY <= this.height) {
                for (let offsetX = -1; offsetX < 2; offsetX++) {
                    for (let offsetY = -1; offsetY < 2; offsetY++) {
                        let newX = posX + offsetX;
                        let newY = posY + offsetY;
                        if ((offsetX != 0 || offsetY != 0) &&
                            newX >= 0 &&
                            newX < this.width &&
                            newY >= 0 &&
                            newY < this.height &&
                            this.gridList[posX + offsetX][posY + offsetY].isAlive == true
                        ) {
                            neighbours++;
                        }
                    }
                }
            }
            return neighbours;
        }
    }
}
</script>
<style lang="css">
.game-grid {
  border-top: 1px solid #1a0707;
  border-left: 1px solid #1a0707;
  display: flex;
  flex: 1;
  justify-content: center;
}
.game-column {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
}
html,
body {
  color: #000;
  font-family: "Dosis", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s linear;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>