<template lang="">
    <div class=" flex justify-center text-4xl py-8 px-8 max-w-sm mx-auto bg-red rounded-xl shadow-md space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
        Coding Dojo
    </div>
</template>
<script>
export default {
    name: 'SiteHeader'
}
</script>
<style lang="">
    
</style>