<template>
  <div class="hello">
    <div v-if="takas.length === 0">
        slkdlk
    </div>
    <div v-else class="">
        <div class="container mt-4 mx-auto flex justify-center">
        <div class="flex grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div v-for="(taka, index) in takas" :key="index" class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
        <router-link :to="{ path: taka.replaceAll(' ','') }">
            <div class="m-3">
            <h2 class="text-xl mb-2">{{taka}}</h2>
            </div>
        </router-link>
      </div>
    </div>
        <!-- <div v-for="(taka, index) in takas" :key="index"><router-link :to="{ path: taka.replaceAll(' ','') }">{{taka}}</router-link></div> -->
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'TakaList',
  props: {
    takas: {
      type: Array,
      default: () => []
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
