<template>
  <SiteHeader></SiteHeader>
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <MainView></MainView>
</template>

<script>
import MainView from './views/MainView.vue'
import SiteHeader from './components/SiteHeader.vue'

export default {
  name: 'App',
  data() {
    return ({
      exclusion: [
        'connexion',
        'inscription'
      ]
    });
  },
  computed: {
    displayHeader() {
      const { name } = this.$route;
      return !this.exclusion.includes(name);
    }
  },
  components: {
    MainView,
    SiteHeader
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
